<%= render 'shared/admin_navbar' %>

<section>
  <div class = "container">
    <div class = "row py-5">
      <div class = "d-flex justify-content-between">
        <h2>Lesson List</h2>
        <ul class="list-unstyled">
          <li><%=link_to 'New Lesson',new_lesson_path %></li>
        </ul>
      </div>

      <!--List view of courses-->
      <table class="table">
        <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Course Name</th>
          <th scope="col">Published</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @lessons.each_with_index do |lesson, index| %>
          <tr class="text-center">
            <th scope="row"><%= index+1 %></th>
            <td><%= lesson.title %></td>
            <td><%= lesson.course&.title %></td>
            <td><%= lesson.publish? ? 'Yes' : 'NO' %></td>
            <td>
              <ul class="list-group list-group-horizontal">
<!--                <li class="list-group-item">-->
                  <%#= link_to 'show', lessons_path(lesson) %>
<!--                </li>-->
                <li class="list-group-item">
                  <%= link_to 'edit', edit_lesson_path(lesson) %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
